
.container_columns {
    max-width: 1440px;
}
.main_home {
    margin-top: 40px;
}
.main_title {
    margin-bottom: 40px;
}
.list-group {
    text-align: left;
    margin: 20px auto;
    max-width: 330px;
}
.list-group li {
    text-align: center;
    position: relative;
}
.list-group li:nth-child(-n+3) {
    background-color: rgba(255,0,0,0.2);
    border-bottom: red solid 1px;
}
.list-group li:nth-child(-n+3):before {
    content: "!";
    margin-right: 10px;
    background-color: red;
    color: #ffffff;
    padding: 0 10px;
    border-radius: 50%;
    font-weight: bold;
    position: absolute;
    left: 10px;
}
.podio_raiting {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
}
.profile_picture {
    width: 120px !important;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    border: solid 7px #ffffff;
}
.podio_raiting .card{
    border: none;
    position: relative;
}
.podio_raiting img {
    width: 100px;
}
.podio_raiting .card p{
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px #75585880;
}
.podio_raiting .card {
    justify-content: flex-end;
    align-items: center;
}
.base {
    background-color: #a2a0a0;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 25px 5px;
    min-width: 150px;
    border: 2px white solid;
}
.card.silver .base {
    height: 170px;
    padding: 5px;
}
.card.silver .profile_picture {
    top: -30px;
}
.card.gold .profile_picture {
    top: -60px;

}
.card.bronze .profile_picture {
    top: -23px;
}
.card.gold .base {
    height: 200px;
}
.card.bronze .base {
    height: 160px;
}
.medal {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}
.card.silver .medal {
    position: relative;
    top: 12px;
}
.card.gold .medal {
    position: relative;
    top: -9px;
    z-index: 5;
}
.card.bronze .medal {
    position: relative;
    top: -13px;
    z-index: 5;
}
.card .group_text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.peso {
    font-size: 20px;
    margin-top: 5px;
}
.jumping-box {
    animation: jumpAnimation 2s infinite; /* Animación de 1 segundo, infinitamente repetida */
}
@keyframes jumpAnimation {
    0%, 100% {
        transform: translateY(0); /* Posición inicial y final */
    }
    50% {
        transform: translateY(-10px); /* Punto más alto del salto */
    }
}
