body {
    background: rgb(50,117,52);
    background: linear-gradient(0deg, rgba(50,117,52,0.4374343487394958) 0%, rgba(140,82,255,1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
}
.main_login {
    display: flex;
    height: 100%;
    align-content: center;
    align-items: center;
}
.full_w {
    width: 100%;
    max-width: 2000px;
}

.logo {
    width: 70%;
    margin-bottom: 15px;
    max-width: 300px;
}

.box_login {
    -webkit-box-shadow: 3px 4px 27px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 27px -8px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 27px -8px rgba(0,0,0,0.75);
    background-color: rgba(255,255,255,0.3);
    border-radius: 20px;
    padding: 20px;
    min-height: 400px;
    max-width: 600px;
}

.form_login {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.form_login input {
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    border-bottom: 3px solid #536F99;
    width: 80%;
    padding: 5px 10px;
}

.btn_login {
    background-color: #7679A4;
    color: #ffffff;
    padding: 5px 30px !important;
    border-bottom: none !important;
    border-radius: 20px;
    width: fit-content !important;
}
.btn_login:hover {
    background-color: #8744BF;

}

.col_farmer {
    overflow: hidden;
}
.farmer {
    width: 100%;
    position: relative;
    top: 0;
    opacity: .2;
}
.farmer.l_farmer{
    left: -50%;
}
.farmer.r_farmer{
    right: -50%;
}

.alert_msg {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 33%;
    font-size: large;
    font-weight: 500;
    transform: translate(-50%, 0);
}
@media only screen and (max-width: 980px) {
    .container_login {
        flex-direction: column;
    }
    .box_login {
        margin: auto;
    }
    .main_login {
        overflow: hidden;
    }
    .col_farmer {
        display: none;
    }
}
